body{
  margin:0;
  padding: 0;
  text-align: center;
  display: flex;
 justify-content: center;
 background-color:antiquewhite;
 font-family:Arial, Helvetica, sans-serif;
}
.Login{
  font-size: 20px;
  font-weight: 700;
  padding: 1em;
  color:#4225a2;
}
.App {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh ;
  
}
.note{
  margin-top: 1em;
  color:#888888;
  font-size: 10px;
}
.form{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em 0;
}
.login-form{
  width: 280px;
  height: 500px;
  box-shadow:5px 10px #888888;
  border-radius: 10px;
  background-color: white;
}
.login-image{
  width: 60%;
}
.email, .password{
  border-radius: 5px;
  padding: 1em;
  width: 70%;
  border-style: solid;
  border-color: #888888;
  margin: 5px 0;
}
.input-pass{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.password{
 
}

#eye{
  position: absolute;
  right: 15%;
  top: 30%;
}
.button{
  width: 260px;
  border-radius: 5px;
  border: 1px;
  border-color: transparent;
  height: 8vh;
  margin: 3px 0;
  background-color: #4225a2;
  color: white;
  transition-delay: 25ms;
}
.link{
  text-decoration: none !important;
  color:white;
}
.button:hover{
  filter:brightness(60%);
}
.welcome-mess{
  width: 200px;
  height: 300px;
  border-radius: 5px;
  background-color: white;
  padding: 2em;
  margin: 2em;
  box-shadow:5px 10px #888888;
  border-radius: 10px;
}
.Dashboard{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;

}
.nav-dashboard{
  background-color: #4225a2;
  font-weight: 500;
  font-size: 12px;
  color:white;
  width: 100vw;
  height: 4em;
}